<div class="jumbotron">
    <h1>Oil Api Test</h1>
    <p class="lead">Documentation Page</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Api/Oil/Login</h2>
        <h4>Method Type: POST</h4>
        <h4>Parameters</h4>
        {<br />
        Id : String, Required <br />
        Password   : String, Required <br />
        }
        <h4>Response</h4>
        {<br />
        ErrorMessage : string,<br />
        Data: int (1 : Success , 0 : Wrong password , -1: Wrong Hardware Id )<br />
        }
    </div>
    <div class="col-md-4">
        <h2>Api/Oil/AddRecord</h2>
        <h4>Method Type: GET</h4>
        <h4>Parameters</h4>
        <ul>
            <li>
                id (string,required)
            </li>
            <li>
                name (string,required)
            </li>
            <li>
                branch (string,required)
            </li>
            <li>
                country (string,required)
            </li>
            <li>
                city (string,required)
            </li>
            <li>
                fryer (string,required)
            </li>
            <li>
                quality (string,required)
            </li>
            <li>
                time (string,required)
            </li>
            <li>
                password (string,required)
            </li>
        </ul>
        <h4>Response</h4>
        string specifies whether the record was added or not <br />
    </div>
    <div class="col-md-4">
        <h2>Api/Oil/GetRecords</h2>
        <h4>Method Type: POST</h4>
        <h4>Parameters</h4>
        {<br />
        Id : String, Optional <br />
        Name   : String, Optional <br />
        Country   : String, Optional <br />
        City   : String, Optional <br />
        Branch   : String, Optional <br />
        Fryer   : String, Optional <br />
        From   : String, Optional <br />
        To   : String, Optional <br />
        }
        <h4>Respose</h4>
        {<br />
        ErrorMessage: String,<br />
        Array of: <br />
        Data: {<br />
        HardwareId : String <br />
        HardwareName : String <br />
        HardwareBranch : String <br />
        CountryISO : String <br />
        City : String <br />
        FryerNum : String <br />
        DateTimeStamp : String <br />
        }}
    </div>
</div>
