<div class="jumbotron">
    <h1>Oil Api Test</h1>
    <p class="lead">Documentation Page</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Record</h2>
        <p>Method Type: GET</p>
        <p>Parameters</p>
        <ul>
            <li>
                id (string)
            </li>
            <li>
                name (string)
            </li>
            <li>
                branch (string)
            </li>
            <li>
                country (string)
            </li>
            <li>
                city (string)
            </li>
            <li>
                fryer (string)
            </li>
            <li>
                time (string)
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Get Records</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
