<div class="jumbotron">
    <h1>Oil Api Test</h1>
    <p class="lead">Documentation Page</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Api/Oil/Login</h2>
        <h4>Method Type: POST</h4>
        <h4>Parameters</h4>
        {<br />
        HardwareId : String, Required <br />
        Password   : String, Required <br />
        }
        <h4>Response</h4>
        1 : Success <br />
        0 : Wrong password <br />
        -1: Wrong Hardware Id <br />
    </div>
    <div class="col-md-4">
        <h2>Api/Oil/AddRecord</h2>
        <h4>Method Type: GET</h4>
        <h4>Parameters</h4>
        <ul>
            <li>
                id (string)
            </li>
            <li>
                name (string)
            </li>
            <li>
                branch (string)
            </li>
            <li>
                country (string)
            </li>
            <li>
                city (string)
            </li>
            <li>
                fryer (string)
            </li>
            <li>
                time (string)
            </li>
        </ul>
        <h4>Response</h4>
        0 : wrong password <br />
        1 : record added <br />
    </div>
    <div class="col-md-4">
        <h2>Api/Oil/GetRecords</h2>
        <h4>Method Type: POST</h4>
        <h4>Parameters</h4>
        {<br />
        Id : String, Optional <br />
        Name   : String, Optional <br />
        Country   : String, Optional <br />
        City   : String, Optional <br />
        Branch   : String, Optional <br />
        Fryer   : String, Optional <br />
        From   : String, Optional <br />
        To   : String, Optional <br />
        }
        <h4>Respose</h4>
        Array of: <br />
        {<br />
        HardwareId : String <br />
        HardwareName : String <br />
        HardwareBranch : String <br />
        CountryISO : String <br />
        City : String <br />
        FryerNum : String <br />
        DateTimeStamp : String <br />
        }
    </div>
</div>
